<?xml version="1.0"?>
<launch>

  <arg name="laser_3d_enabled" default="$(optenv HUSKY_LASER_3D_ENABLED true)"/>
  <arg name="realsense_enabled" default="false"/>

  <!-- Standalone launcher to visualize the robot model. -->
  <include file="$(find husky_coal_description)/launch/description.launch">
    <arg name="laser_3d_enabled" value="$(arg laser_3d_enabled)"/>
    <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
  </include>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky_coal_viz)/rviz/model.rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
